/* Плавная прокрутка */
html {
  scroll-behavior: smooth;
} 
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Прижимает header и footer к краям */
  background-color: #FAF6F0;
  color: #5A5A5A;
}
* {
  box-sizing: border-box;
}

/* Контейнер для центрирования контента */
.container {
  max-width: 1440px; /* Максимальная ширина */
  margin: 0 auto;    /* Автоматические отступы по бокам (центрирование) */
  width: 100%;       /* На всю доступную ширину */
  padding: 0 20px;   /* Отступы внутри контейнера (опционально) */
  box-sizing: border-box; /* Чтобы padding не влиял на max-width */
}

.header {
  background-color: #88B6A1;
  color: white;
  padding: 2rem 0;
  border-bottom: 3px solid #D9BFA9;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.header-left {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.header-right {
  flex: 1;
  min-width: 300px;
}
.profile-img {
  max-width: 200px;
   border: 4px solid #F3E9D2;
}
.contacts {
    text-align: center;
  }
  /* Навигация */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
.nav-link {
  color: white;
}

.main {
  flex: 1;
  padding: 2rem;
  background-color: white;
}
h1 {
 color: #5F5F5F;
} 
h2 {
  color: #88B6A1;
}
h2 {
  border-bottom: 2px solid #D9BFA9;
}
section {
  margin-bottom: 2rem;
  padding: 1rem;
}
.footer {
  background-color: #88B6A1;
  color: white;
  text-align: center;
  padding: 1rem;
}
.footer img {
  max-height: 50px;
}

:root {
  --primary: #6D8B74; /* Пастельный зелёный */
  --secondary: #EFEAD8; /* Кремовый */
  --accent: #D0B8A8; /* Пастельный терракотовый */
  --text: #5F5F5F; /* Тёмно-серый */
  --light: #F8F4E9; /* Светлый крем */
}


